<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Playfair+Display:400,700&display=swap">
    <title>Market</title>
</head>
<body>
<!-- header -->
<div th:replace="header :: header"></div>
<!-- //header -->
<h1>Contact Us</h1>

<form th:action="@{/contact}" th:object="${contact}" method="post">
    <div>
        <label class="contact-form-label" for="name">Name:</label>
        <input class="contact-form-textarea" type="text" id="name" th:field="*{name}" required>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    </div>

    <div>
        <label class="contact-form-label" for="mobileNum">Mobile Number:</label>
        <input class="contact-form-textarea" type="text" id="mobileNum" th:field="*{mobileNum}" required>
        <span th:if="${#fields.hasErrors('mobileNum')}" th:errors="*{mobileNum}">Mobile Number Error</span>
    </div>

    <div>
        <label class="contact-form-label" for="email">Email:</label>
        <input class="contact-form-textarea"  type="text" id="email" th:field="*{email}" required>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
    </div>

    <div>
        <label class="contact-form-label" for="subject">Subject:</label>
        <input class="contact-form-textarea" type="text" id="subject" th:field="*{subject}" required>
        <span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">Subject Error</span>
    </div>

    <div>
        <label class="contact-form-label"  for="message">Message:</label>
        <textarea class="contact-form-textarea"  id="message" th:field="*{message}" required></textarea>
        <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Message Error</span>
    </div>

    <div>
        <button class="contact-form-button" type="submit">Submit</button>
    </div>
</form>


<!-- footer -->
<div th:replace="footer :: footer"></div>
<!-- //footer -->
</body>
</html>
